@import url('https://fonts.googleapis.com/css2?familu=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(230, 69, 96);
}

nav {
    width: 100%;
    height: 10vh;
    position: sticky;
    /* background-color: black; */
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: white;
    text-shadow: 0 0 10px rgb(9, 24, 229);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(4, 0, 128);
    transition: 0.5s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: rgb(186, 231, 62);
}

.section {
    width: 100%;
    height: 90vh;
}

.main-container {
    margin-top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image {
    width: 400px;
    height: 60vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px white;
}

.main-container .image img {
    width: 100%;
}

.main-container .image:hover {
    animation: animate 1.5s ease-in-out infinite;
}


@keyframes animate {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

.main-container .content {
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1 {
    font-size: 30px;
}

.content .typewriter {
    font-size: 25px;
}

.content h1 span {
    font-size: 50px;
    color: white;
    text-shadow: 0 0 10px rgb(92, 35, 148);
}

.content .typewriter-text {
    color: white;
    text-shadow: 0 0 10px rgb(235, 237, 238);
    font-weight: 600;
}

.content p {
    font-size: clamp (0.4rem, 0.2rem + 9vw, 1rem);
    margin: 30px 0;
}

.social-links i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(122, 30, 119);
    border-radius: 50%;
    color: rgb(240, 236, 238);
    margin: 10px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover {
    scale: 1.2;
    color: black;
    background-color: white;
    filter: drop-shadow(0 0 10px white);
}

.fa-instagram:hover{
    color: red;
}

.content button {
    width: 35%;
    height: 6vh;
    margin: 30px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover {
    scale: 1.1;
    color: rgb(87, 75, 178);
    background-color: white;
    border: 2px solid rgb(131, 18, 156);
    font-weight: 700;
    box-shadow: 0 0 40px rgb(147, 24, 184);
}